<div class="top-links">
        <div class="row">
                <div class="small-12 medium-8 column show-for-medium">
                                                                <div class="application_title">

                                                                {{data.site_name}}


                                                                </div>  
                </div>
        <div class="small-12 medium-4 column end">
        <a href="{{data.site_url}}"  accesskey="0" data-jzz-gui-player="true">
          <img class=" application-logo"  src="{{data.site_url}}mod/consultar_theme/resources/government.png">    
        </a> 
      </div>
    </div>
    
  </div>
  

  